#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4em;
}

.container {
  padding: 5px 20px 20px 20px;
  margin: 5px;
}
.receta-completa{
  border-radius: 20px;
  padding: 5px 20px 20px 20px;
  margin: 5px;
  background-color: rgba(241, 209, 64, 0.596);
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
}
.receta-completa p {
  /*font-weight: bold;*/
  font-style: italic;
  text-transform: capitalize;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.add-form {
  background-color: rgb(53, 79, 0);
}

.add-form button {
  width: 80px;
  background-color: rgb(0, 125, 19);
  border-color: rgba(0, 69, 15, 0.659);
  border-radius: 20px;
  height: 35px;
  margin-top: 10px;
}
.add-form input {
  text-align: center;
  border-radius: 20px;
  height: 25px;
  margin-top: 10px;
}
.search-bar {
  background-color: rgba(241, 209, 64, 0.596);
  display: flex;
  justify-content: space-evenly;
}
input {
  height: 35px;
  width: 400px;
  border-radius: 10px;
  font-size: 18px;
}

.product-list {
  background-color: rgb(165, 165, 165);
}

.product-card {
  text-align: start;
  background-color: rgb(65, 65, 65);
  padding: 5px 20px 5px 20px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}

.product-card h3 {
  width: 350px;
}

.product-card p {
  width: 100px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.product-card button {
  width: 80px;
  background-color: rgb(125, 100, 0);
  border-color: rgba(69, 59, 0, 0.659);
  border-radius: 20px;
  height: 35px;
}
